

body{
    height: 50%;
}

.sizeme{
    height: 960px;
    width: 960px;
}

.grids{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    height: 100%;
}

.grid{
    width: 25%;
    height: 25%;
    background-color: green;
}

.hovdiv{
    background-color: red;
}