
.grids{
    display:grid;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(64,1fr);
    grid-template-rows: repeat(64,1fr); 
    border-style: ridge;
    border-width: 10px;
    border-color: brown;
}

.grid, .hovdiv{
    
}

.hovdiv{  
    background-color: red;
}

.grid{
    background-color: green;
}